<main>
    <section>
        <div class="container">
            <h1>Home page</h1>
            <div class="form-container">
                <form action="/add-task" method="post">
                    <div class="form-group">
                        <label for="">Description</label>
                        <input type="text" name="desc" id="desc" class="desc">
                    </div>
                    <div>
                        <button type="submit">Add</button>
                        <button>Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>